/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
footer, section, header, aside, figure {
  display: block;
}
@media (min-width: 600px){
  body {
  padding: 2em;
  font-size: 15px;
  font-family: helvetica, arial, sans-serif;
}
}


/*désactive la selection (bleu de base) pour éviter les erreurs d'affichages sur le tactile*/
/*::-moz-selection {
  background: transparent; 
}

::selection {
  background: transparent; 
}*/

/*Custom CSS*/

/*****************form & general*********************/

#logo {
    display: inline-block;
    width: 200px;
}

#scan form {
  background-color: #fff;
}

#depart-form,
#connexion-form,
#inscription-form,
#ajout-zing-form,
#profil-form {
  width: 100%;
  color: #fff;
  padding: 40px;
}

#depart-form,
#connexion-form,
#ajout-zing-form {
  background: #009fe3;
}


#connexion-form,
#inscription-form,
#profil-form{
  background: #96c11f;
}

.match-size{
    min-height: 25px;
}

.center{
  text-align: center;
}

.fixed{
  position:fixed;
  width:100%;
}

.padding-all-small{
  padding: 5px;
}


/*****************Accueil*********************/

#accueil {
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16pt;
}
#accueil a {
  color: #FFF;
  text-decoration: none;
}
#accueil .menu {
  width: 380px;
  max-width: 100%;
  margin: 30px auto;
}
#accueil .menu a {
  width: 47%;
  height: 180px;
  display: block;
  margin: 4px;
  text-align: center;
  float:left;
}

#accueil .menu a span {
  margin: auto;
  position: absolute;
  top: 40%; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

#accueil .menu-block {
  position: relative;
}

#accueil .menu-block.blue         { background: #009fe3;  }
#accueil .menu-block.blue img     { width: 65px; }
#accueil .menu-block.yellow       { background: #fdd22a; }
#accueil .menu-block.yellow img   { width: 100px; }
#accueil .menu-block.green        { background: #96c11f; }
#accueil .menu-block.green img    { width: 60px; }
#accueil .menu-block.red          { background: #e43535;  }
#accueil .menu-block.red img      { width: 50%; }
#accueil .menu-block.orange       { background: #ee7202; }
#accueil .menu-block.orange img   { width: 35%; bottom: 0; }
#accueil .menu-block.darkgreen    { background: #1fb316; opacity: 0.3; cursor: unset;}
#accueil .menu-block.darkgreen img{ width: 130px;}

#accueil .menu-block img  {
  position: absolute;
  bottom: 10px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/*****************Bandeau retour*********************/

#bandeau-retour{
  display: inline-block;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  top: 24px;
  width: 200px;
  right: 1.35em;
}

#bandeau-retour .txt,
#bandeau-retour img{
  display: inline-block;
  float: left;
  height: 30px;
  width: auto;
}

#bandeau-retour img {
  width: 90px;
}

#bandeau-retour .txt {
  color: white;
  font-size: 1.4em;
  vertical-align: baseline;
  width: 100px;
}

#bandeau-retour .txt-container {
  color: white;
}

/*****************Depart / Retour*********************/


#retour-form{
  width: 100%;
  background: #fdd22a;
  color: #fff;
  padding: 40px;
}

#newitem {
  width: 70%;
  color: black;
  border: 1px solid #8C787C;
  padding: 6px 12px;
}

#toPrintList {
  width: 100%;
}

#toPrintList li {
  list-style: none;
  background: #eee;
  padding: 5px 10px;
  position: relative;
  font-size: 1.5em;
  pointer-events: none;
}

#toPrintList li:nth-child(2n) {
  background: #ccc;
}

#toPrintList li:after,
#toPrintList li.done:after {
  content: 'X';
  position: absolute;
  right: 5px;
  background: #ff1200;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  pointer-events: initial;
}

#toPrintList li.done:hover:after {
  content: 'x';
  font-weight: bold;
  color: #c00;
  position: absolute;
  right: 5px;    
}

.recap-alert{
  background-color: #ffe6ba;
  padding: 10px;
}

/*****************Scan*********************/


#label-zing{
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

#data {
  display: none;
}

#btn-zingage {
  width: 25%;
  border-radius: 0;
  border: inset;
}

#depart-form #btn-zingage {
  border-color: #337ab7;
  background-color: #337ab7;
}

#retour-form #btn-zingage {
  border-color: #CCA722;
  background-color: #CCA722;
}

#tab-list-article i {
  font-size: 2.3em;
}

#form-suppr-article button {
  background : none;
  cursor  : pointer;
  border : none;
  margin : 0px;
  padding : 0px;
}


.addBtn:hover {
    background-color: #bbb;
}

/*****************Connexion / Profil*********************/


.btn-connexion {
    position: fixed;
    background-color: #96c11f;
    right: 30px;
    top: 70px;
    width: 190px;
    z-index: 100;
}
