/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

#logo {
    display: inline-block;
    width: 200px;
}

  * { 
    margin: 0;
    padding: 0;
  }
  footer, section, header, aside, figure {
    display: block;
  }
  body {
    padding: 2em;
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
  }
  form {
    width: 100%;
    background: #00adef;
    color: #fff;
    padding: 40px;

  }
  #newitem {
    width: 80%;
    color: black;
    border: 1px solid #8C787C;
  }
  #todolist {
    width: 100%;
  }
  #todolist li {
    list-style: none;
    background: #eee;
    padding: 5px 10px;
    position: relative;
  }
  #todolist li:nth-child(2n) {
    background: #ccc;
  }
  #todolist li:hover:after,
  #todolist li.done:after {
    content: '✔';
    color: #060;
    position: absolute;
    right: 5px;    
  }
  #todolist li.done:hover:after {
    content: 'x';
    font-weight: bold;
    color: #c00;
    position: absolute;
    right: 5px;    
  }


#label-zing{
    width: 100%;
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}

.addBtn:hover {
    background-color: #bbb;
}

.btn-connexion {
    right: 0;
    top: 0;
    position: absolute;

}

#btn-zingage {
    width: 15%;
    font-weight: bold;
    color: black;
    background-color: #00f5ec;
    border: 1px solid #8C787C;
}

.match-size{
    min-height: 25px;
}