/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

#logo {
    display: inline-block;
    width: 200px;
}

* { 
  margin: 0;
  padding: 0;
}
footer, section, header, aside, figure {
  display: block;
}
body {
  padding: 2em;
  font-size: 15px;
  font-family: helvetica, arial, sans-serif;
}

::-moz-selection {
  background: transparent; 
}

::selection {
  background: transparent; 
}

#zingage-form,
#connexion-form,
#inscription-form {
  width: 100%;
  background: #00adef;
  color: #fff;
  padding: 40px;
}

#newitem {
  width: 70%;
  color: black;
  border: 1px solid #8C787C;
  padding: 6px 12px;
}

#todolist {
  width: 100%;
}

#todolist li {
  list-style: none;
  background: #eee;
  padding: 5px 10px;
  position: relative;
  font-size: 1.5em;
  pointer-events: none;
}

#todolist li:nth-child(2n) {
  background: #ccc;
}

#todolist li:after,
#todolist li.done:after {
  content: 'X';
  position: absolute;
  right: 5px;
  background: #ff1200;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  pointer-events: initial;
}

#todolist li.done:hover:after {
  content: 'x';
  font-weight: bold;
  color: #c00;
  position: absolute;
  right: 5px;    
}


#label-zing{
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.addBtn:hover {
    background-color: #bbb;
}

.btn-connexion {
    right: 0;
    top: 0;
    position: absolute;
}

#btn-zingage {
  width: 25%;
  border-radius: 0;
  border: inset;
  border-color: #337ab7;
}

.match-size{
    min-height: 25px;
}

#data {
  display: none;
}